@model MatchReservationSystem.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Match)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Match.HomeTeam.Name) vs @Html.DisplayFor(model => model.Match.AwayTeam.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.MatchVenue)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.MatchVenue.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.SeatPosition)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SeatPosition)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
