@model IEnumerable<MatchReservationSystem.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h1>My Reservations</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchVenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Match.HomeTeam.Name) vs @Html.DisplayFor(modelItem => item.Match.AwayTeam.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatchVenue.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatPosition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (DateTime.Now.AddDays(3) < item.Match.Date)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else
                    {
                        <span>Delete</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
