@model IEnumerable<MarkReservationSystem.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @string.Join(", ", item.Roles)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="ManageRoles" asp-route-userId="@item.Id">Manage User</a>
                </td>
            </tr>
        }
    </tbody>
</table>
